@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');



:root{
    --color-primario: #ffffff;
    --color-secundario: #ffd5c2;
    --color-terciario: #f28f3b;
    --color-cuarto: #588b8b;
    --color-quinto: #c8553d;
}

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Varela Round', sans-serif;
    color: #3e3d3d;
    background-color: var(--color-primario);
    display: flex;
    flex-direction: column;

  }

main{
    display: flex;
    width: 100vw;
}

section{
    margin: 0 20% 0 20% ;
}

header{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--color-secundario);
    box-shadow: 0px 6px 12px -9px rgba(0, 0, 0, 0.59);
    justify-content: space-between;
    margin-bottom: 30px;
}



.titulo{
    display: flex;
    font-size: 30px;
    margin: 10px 10px 10px 40px;
    font-weight: bolder;
    align-items: center

}

.menu{
    display: flex;
    margin: 10px 30px 10px 10px;
    font-weight: bolder;
    font-size: 20px;
    align-items: center;

}

.menu a{
    color: #3e3d3d;
    text-decoration: none;
}

.menu a:hover{
    color: var(--color-cuarto);
    text-decoration: none;
}

#presentacion {
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
}

#cursos{
    margin-top: 20px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
}

#perfil{
    font-size: 20px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 50em;
    margin-top: 30px;
}

#banner_foot {
    width: 100%;
    height: auto;
    padding: 50px 0px 00px 0px;
    display: flex;
}

.form-contact{
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

label{
    border-radius: 2px;
    margin: 10px;
}

input{
    padding: 10px;
}

textarea{
    resize: vertical;
}

button form{
   
   font-weight: bold;
   margin-top: 20px;
   margin-left: 60%;
   padding: 16px 40px;
   border-radius: 8px;
   border: 1px solid var(--color-quinto);
   background-color: var( --color-terciario);
   box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);
   cursor: pointer;
}

button:hover{
    background-color: var(--color-quinto);

}

button:active{
    border: none;
    background-color: var(--color-cuarto);
    color:antiquewhite;
    box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.59);
}

#type{
    padding: 10px;
}

form{
    accent-color: var(--color-terciario);
}

input:focus-visible, textarea:focus-visible, select:focus-visible{
    border: 1px solid var(--color-quinto);
    outline: 3px solid  var(--color-terciario);
    border-radius: 3px;
}

/*tarejeta recurso */

.tarjeta-recurso{
    display: flex;
    height: 50vh;
    width: 50vh;
    border: 3px solid var(--color-terciario);
    padding: 10px;
    margin: 20px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.746);
    justify-content: space-between;
}

.tecnologia-recurso{
    font-weight: bold;
    display: flex;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-terciario);
    justify-content: flex-end;
}

.informacion-recurso{
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.titulo-recurso{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    
}

.descripcion-recurso{
    box-sizing: content-box;
    margin: 2px 2px 2px 10px;
    
}

.url{
    display: flex;
    justify-content: flex-end;
}

.url a {
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 8px;
    border: 1px solid var(--color-quinto);
    background-color: var(--color-terciario);
    color: #3e3d3d;
    text-decoration: none;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);
    cursor: pointer;
 }
 
.url a:hover{
    background-color: var(--color-quinto);

}

.url a:active{
    border: none;
    background-color: var(--color-cuarto);
    color:antiquewhite;
    box-shadow: -1px -1px 5px 1px rgba(0, 0, 0, 0.59);
}
 


footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: var(--color-secundario);
    box-shadow: 0px -6px 12px -9px rgba(0, 0, 0, 0.59);
    justify-content: flex-end;
    margin-top: 50px;
    flex-direction: row;
    align-items: center;
}

footer a{
    margin: 10px 30px 10px 10px;
    font-weight: bolder;
    font-size: 20px;
    color: #3e3d3d;
    text-decoration: none;
}

footer a:hover{
    color: var(--color-cuarto);
    text-decoration: none;
}

footer i{
    font-size: 26px;
}

@media screen and (max-width: 550px){

    body{
        margin: 0;
    }

    section{
        margin: 0 5% 0 5% ;
        
    }

    p {
      display: flex;
    }

    button{
        margin-left: 5%;
    }
   

    .form-contact label{
        size: auto;
    }

}
    
